App/pool/
App/static/
.venv/
__pycache__/
.vscode/
.git_backup
App/OnnxModels/**/*.onnx
App/OnnxModels/**/*.zip
App/OnnxModels/**/*.pkl
App/OnnxModels/**/*.joblib
volumes/
**/experiments/*
Shared/services/models/face_embedding/detectors/local/retinaface50/rcnn/**/**.so
Shared/services/models/face_embedding/detectors/local/retinaface50/*.params
