pool/
static/
.venv/
__pycache__/
.vscode/
.git_backup
OnnxModels/*/*.onnx
OnnxModels/*/*.zip
volumes/
experiments/*
modules/models/face_embedding/detectors/retinaface50/rcnn/**/**.so
modules/models/face_embedding/detectors/retinaface50/*.params
