{% extends "base.html" %} {% block title %} Image Processing {% endblock %} {%
block content %}
<title>Download Pictures from Web</title>
<style>
    body {
       zoom:90%;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="showFormButton">Download Pictures from Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <form class="form-inline my-2 my-lg-0" id="downloadForm" style="display: none;" method="POST" action="/download">
            <input class="form-control mr-sm-2" type="url" name="website_url" id="website_url_input" placeholder="Enter website URL" required>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Download</button>
        </form>
    </div>
</nav>
<script>
    // JavaScript to toggle the visibility of the form
    document.getElementById('showFormButton').addEventListener('click', function() {
        var form = document.getElementById('downloadForm');
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>
<div class="content">
    <h1 class="text-light m-4 text-center user-select-none">Upload and Process Images</h1>
    <div class="main-container mb-5">


        <form action="/" method="POST" enctype="multipart/form-data" class="w-100">
            <div class="d-flex align-items-center justify-content-center">
                {% for i in range(2) %}
                <div class="d-flex flex-column col-4">
                    <!-- Drag area  -->

                    <div id="dragarea{{i+1}}" class="drag-area position-relative d-flex align-items-center 
                        justify-content-center flex-column rounded-top-0 p-5
                        {{'active' if current|length>0 else 'inactive'}}">
                        {%if current[i]%}
                        <div
                            class="w-100 bg-dark text-light rounded-top-1 position-absolute top-0 z-3 p-1 text-center fw-bold">
                            {{current[i]}}</div>
                        {%endif%}
                        <img class="img-fluid d-none position-absolute rounded-top-1 z-2 h-100 w-100" alt="" />
                        <input type="file" name="image{{i+1}}" accept="image/*" hidden />
                        <input type="number" name="face_num{{i+1}}" accept="image/*" value="-2"
                            id="face_num_input{{i+1}}" hidden />
                        <!-- Dont render the second drag&drop if only 1 image uploaded -->
                        {%if(current|length==0) or (current|length==1 and 1==i)%}
                        <div class="d-flex align-items-center justify-content-center 
                        flex-column" id="dragarea{{i+1}}-content">
                            <div class=" text-light user-select-none" style="font-size: 100px;">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </div>
                            <header class="text-light user-select-none text-center">
                                Drag & Drop to Upload File
                            </header>
                            <span class="text-light user-select-none">OR</span>
                            <button type="button" class="browse-btn btn  btn-light px-4 py-2">
                                Browse File
                            </button>
                        </div>
                        {%endif%}
                    </div>
                    <div class="form-floating w-100">
                        <select id="combo-box{{i+1}}" class="form-select rounded-top-0 rounded-bottom-2">
                            <option value="-2">All</option>
                            {% for j in range(faces_length[i]) %}
                            <option value="{{ j }}">Face {{ j + 1 }}</option>
                            {% endfor %}
                        </select>
                        <label class="" for="combo-box{{i+1}}">Select a Face:</label>
                    </div>
                </div>

                {% if i == 0 %}
                <!-- Buttons -->
                <div class=" d-flex col-2 flex-column align-items-center">
                    <!-- <input type="submit" name="action" value="Upload" class="submit-btn rounded-3 w-75 m-2" /> -->
                    <input type="submit" name="action" value="Detect" class="submit-btn w-75 m-2" />
                    <input type="submit" name="action" value="Check" class="submit-btn w-75 m-2" />
                    <input type="submit" name="action" value="Check_family" class="submit-btn w-75 m-2" />
                    <input type="submit" name="action" value="improve" class="submit-btn w-75 m-2" />
                    {% if current | length == 2%}
                    <input type="submit" name="action" value="Compare" class="submit-btn w-75 m-2" />
                    {%endif%}
                    <input type="submit" name="action" value="Clear" class="submit-btn w-75 m-2" />

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Results</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>
                        {%for message in messages %}
                        <p class="fw-bold">{{message|safe}}</p>
                        {% endfor %}
                        {%for error in errors %}
                        <p class="fw-bold text-danger">{{error|safe}}</p>
                        {% endfor %}
                        </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="messageContainer" style="z-index: 11" class="position-fixed bottom-0 w-25 end-0 p-0"></div>
    <!-- <div class="image-container mt-5 d-flex justify-content-center flex-wrap text-center">
        {% for image_info in images %}
        <div class="aligned-image col-5 m-5">
            {% if "aligned_" in image_info or "detected_" in image_info %}
            <img src="{{config['SERVER_URL']+'/static/'+image_info }}" alt="Processed Image" />
            {% else %}
            <img src="{{config['SERVER_URL']+'/pool/'+image_info}}" alt="Uploaded Image" />
            {% endif %} {% if 'aligned_face_' + (selected_face | string) in image_info
            %}
            <div class="face-number">{{ selected_face + 1 }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div> -->

</div>

<script>
    const SERVER_URL = "{{config['SERVER_URL']}}"

    const errors = JSON.parse('{{ errors | tojson | safe}}');
    const messages = JSON.parse('{{ messages | tojson | safe}}');
    const current_images = JSON.parse('{{ current | tojson | safe}}');
    const selected_faces = JSON.parse('{{ selected_faces | tojson | safe}}');
</script>
{% endblock %}